.header {
    background: black;
    color: white;
    padding: 18px 60px;
    border-bottom: solid 9px #3cb8c7;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}


.Upload {
    text-align: center;
    padding: 25px 60px;
    background: #d0e1e2;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 7px;
    border-color: #3db7c752;
    border-style: double;
}

.folder {
    text-align: center;
    padding: 15px 60px;
    background: #d0e1e2;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 7px;
    border-color: #3db7c752;
    border-style: double;
}


.files {
    display: grid;
    justify-content: space-evenly;
    background: white;
    padding: 20px;
    border-radius: 21px;
    border-bottom: 6px solid #3db7c7;
}

.FilesUpload {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: #f0f3f3;
    width: 90%;
    margin: auto;
}

.formFolder {
    display: flex;
    justify-content: space-evenly;
}