.container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}


.Upload {
    text-align: center;
    padding: 20px 60px;
    background: #d0e1e2;
}

.folder {
    text-align: center;
    padding: 15px 60px;
    background: #d0e1e2;
}


.files {
    display: grid;
    justify-content: space-evenly;
    background: aliceblue;
    padding: 10px;
    border-bottom: 1px solid #b6b6b6;
}

.FilesUpload {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: #f0f3f3;
    margin: 20px;
}