.header {
    background: #2f283b;
    color: white;
    padding: 18px 60px;
    border-bottom: solid 9px #3cb8c7;
    text-align: center;
}

a[href$=".pdf"]:before {
    background: url('/icons/pdf.png') no-repeat;
    padding: 3px 18px;
    content: "."; 
  }

  a[href$=".jpg"]:before {
    background: url('/icons/pdf.png') no-repeat;
    padding: 3px 18px;
    content: "."; 
    

  }
body {
    background-color: #d6e0eb;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}


.Upload {
    text-align: center;
    padding: 25px 60px;
    background: #2f273b;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 7px;
    border-color: #3db7c7;
    border-style: double;
}

.folder {
    text-align: center;
    padding: 25px 60px;
    background: #2f273b;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 7px;
    border-color: #3db7c7;
    border-style: double;
}


.files {
    display: grid;
    justify-content: space-evenly;
    background: white;
    padding: 20px;
    border-radius: 30px 10px;
    background-color: #2f263b;
    border-bottom: 4px solid gray;
    border-top: 1px solid #d5d5d5;
}

.FilesUpload {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: #b4bec7;
    margin: 32px 30px;
    color: whitesmoke;
    border-radius: 20px;
}

.formFolder {
    display: flex;
    justify-content: space-evenly;
}